*{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    margin: 0px;
    padding-top: 800px;
}

.profile-img {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    background: linear-gradient(#84f542 0%, #42f560 100%);
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    opacity: 0.83;
    display: table;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    bottom: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'lato', sans-serif;
    line-height: 1.2;
}

#name {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Cinzel Decorative', cursive;
    line-height: 1.2;
}

#name:hover {
    color: blue;
}

h3 {
    font-size: 30px;
    /*    font-weight: bolder;*/
    line-height: 1.2;
    font-family: monospace;
}

.hi {
    /*    text-align: center;*/
    font-size: 40px;
    /*    padding: 50px;*/
}

.line {
    height: 6px;
    width: 50px;
    margin: 8px auto;
    background-color: black;

}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 40px
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.links {
    float: center;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    padding-right: 9px;
    color: black;
    font-family: 'New Tegomin', serif;
    font-size: 20px;
}

.links:hover {
    background-color: darkorchid;
}

.article {
    text-decoration: none;
}

.article:hover {
    color: blueviolet;
}

html {
    scroll-behavior: smooth;
}

.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}
a{
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}
.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
    
}
#writings a{
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
    font-size: 30px !important;
}
#contact{
    background: firebrick;
}
.contact_1 a{
    color: white;
    text-shadow: none;
}
.contact_1 h3{
    display: inline;
}
.contact_1 h1{
    color: white;
}